--
-- PostgreSQL database dump
--

\restrict 9WVuYyRXkmYKihV7eEKagcajfyK6mDtp0t8iFIkWxHSuEjyv2aWsij0SkbTAIbo

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: pitchiq
--

COPY public.alembic_version (version_num) FROM stdin;
e26abcbd89fa
\.


--
-- Data for Name: memo_jobs; Type: TABLE DATA; Schema: public; Owner: pitchiq
--



--
-- Data for Name: memo_results; Type: TABLE DATA; Schema: public; Owner: pitchiq
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: pitchiq
--

COPY public.users (id, username, email, hashed_password, is_active, is_admin, api_keys, created_at, updated_at, last_login) FROM stdin;
d5983dc1-fda4-4f43-b420-94e9b04247b7	api_user	api@example.com	hashed_456	t	f	["key_123", "key_456", "key_789"]	2026-06-26 15:53:42.121653+00	2026-06-26 15:53:42.156973+00	\N
19e9a07d-e1c4-4408-a0fe-afcb0cddf287	testuser_123	testuser@example.com	hashed_password_secure_123	t	f	[]	2026-06-26 15:55:09.051015+00	2026-06-26 15:55:09.051015+00	\N
\.


--
-- PostgreSQL database dump complete
--

\unrestrict 9WVuYyRXkmYKihV7eEKagcajfyK6mDtp0t8iFIkWxHSuEjyv2aWsij0SkbTAIbo

