--
-- PostgreSQL database dump
--

\restrict tANdAI70vkzcru2QB7JD57K3k1x2d7nn8unD6euh2Tdss6us9kSSPFz50XIXNE8

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: memo_jobs; Type: TABLE; Schema: public; Owner: pitchiq
--

CREATE TABLE public.memo_jobs (
    id character varying(36) NOT NULL,
    startup_description text NOT NULL,
    status public.jobstatus NOT NULL,
    agent_progress json NOT NULL,
    error_message text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT check_id_length CHECK ((length((id)::text) = 36))
);


ALTER TABLE public.memo_jobs OWNER TO pitchiq;

--
-- Name: memo_results; Type: TABLE; Schema: public; Owner: pitchiq
--

CREATE TABLE public.memo_results (
    id character varying(36) NOT NULL,
    job_id character varying(36) NOT NULL,
    startup_name character varying(255),
    industry character varying(255),
    business_model character varying(255),
    target_users character varying(255),
    geography character varying(255),
    market_research_output text,
    funding_analysis_output text,
    memo_markdown text,
    confidence_score double precision,
    quality_flags json,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.memo_results OWNER TO pitchiq;

--
-- Name: users; Type: TABLE; Schema: public; Owner: pitchiq
--

CREATE TABLE public.users (
    id character varying(36) NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    is_admin boolean NOT NULL,
    api_keys json NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    last_login timestamp with time zone
);


ALTER TABLE public.users OWNER TO pitchiq;

--
-- Data for Name: memo_jobs; Type: TABLE DATA; Schema: public; Owner: pitchiq
--



--
-- Data for Name: memo_results; Type: TABLE DATA; Schema: public; Owner: pitchiq
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: pitchiq
--

COPY public.users (id, username, email, hashed_password, is_active, is_admin, api_keys, created_at, updated_at, last_login) FROM stdin;
d5983dc1-fda4-4f43-b420-94e9b04247b7	api_user	api@example.com	hashed_456	t	f	["key_123", "key_456", "key_789"]	2026-06-26 15:53:42.121653+00	2026-06-26 15:53:42.156973+00	\N
19e9a07d-e1c4-4408-a0fe-afcb0cddf287	testuser_123	testuser@example.com	hashed_password_secure_123	t	f	[]	2026-06-26 15:55:09.051015+00	2026-06-26 15:55:09.051015+00	\N
\.


--
-- Name: memo_jobs memo_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: pitchiq
--

ALTER TABLE ONLY public.memo_jobs
    ADD CONSTRAINT memo_jobs_pkey PRIMARY KEY (id);


--
-- Name: memo_results memo_results_job_id_key; Type: CONSTRAINT; Schema: public; Owner: pitchiq
--

ALTER TABLE ONLY public.memo_results
    ADD CONSTRAINT memo_results_job_id_key UNIQUE (job_id);


--
-- Name: memo_results memo_results_pkey; Type: CONSTRAINT; Schema: public; Owner: pitchiq
--

ALTER TABLE ONLY public.memo_results
    ADD CONSTRAINT memo_results_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: pitchiq
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: pitchiq
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: pitchiq
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: ix_memo_jobs_created_at; Type: INDEX; Schema: public; Owner: pitchiq
--

CREATE INDEX ix_memo_jobs_created_at ON public.memo_jobs USING btree (created_at);


--
-- Name: ix_memo_jobs_status; Type: INDEX; Schema: public; Owner: pitchiq
--

CREATE INDEX ix_memo_jobs_status ON public.memo_jobs USING btree (status);


--
-- Name: ix_memo_jobs_status_created; Type: INDEX; Schema: public; Owner: pitchiq
--

CREATE INDEX ix_memo_jobs_status_created ON public.memo_jobs USING btree (status, created_at);


--
-- Name: ix_memo_jobs_updated_at; Type: INDEX; Schema: public; Owner: pitchiq
--

CREATE INDEX ix_memo_jobs_updated_at ON public.memo_jobs USING btree (updated_at);


--
-- Name: ix_memo_results_confidence_score; Type: INDEX; Schema: public; Owner: pitchiq
--

CREATE INDEX ix_memo_results_confidence_score ON public.memo_results USING btree (confidence_score);


--
-- Name: ix_memo_results_created_at; Type: INDEX; Schema: public; Owner: pitchiq
--

CREATE INDEX ix_memo_results_created_at ON public.memo_results USING btree (created_at);


--
-- Name: ix_memo_results_job_id; Type: INDEX; Schema: public; Owner: pitchiq
--

CREATE INDEX ix_memo_results_job_id ON public.memo_results USING btree (job_id);


--
-- Name: ix_users_created_at; Type: INDEX; Schema: public; Owner: pitchiq
--

CREATE INDEX ix_users_created_at ON public.users USING btree (created_at);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: pitchiq
--

CREATE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: pitchiq
--

CREATE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: memo_results memo_results_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pitchiq
--

ALTER TABLE ONLY public.memo_results
    ADD CONSTRAINT memo_results_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.memo_jobs(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict tANdAI70vkzcru2QB7JD57K3k1x2d7nn8unD6euh2Tdss6us9kSSPFz50XIXNE8

